<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
<<<<<<< HEAD
       <%- include ('./partials/head.ejs') %>
=======
        <%- include ('./partials/head.ejs') %>
>>>>>>> 5a0fb543ed104858c33f87b3fc827c2151926501
    </head>

    <body>
        <div class="body-overlay">
            <!-- ============ HEADER ============ -->
<<<<<<< HEAD
            <header>
                <%- include ('./partials/header.ejs') %>
            </header>
=======
            <%- include ('./partials/header.ejs') %>
>>>>>>> 5a0fb543ed104858c33f87b3fc827c2151926501
            <!-- ============ MAIN ============ -->
            <main>
                <div>
                    <h1>fooBar()</h1>
                    <ul>
                        <% for(let i = 0; i < drinks.length; i++) { %>
                            <li><a href="/drinks/<%=i%>"><%= drinks[i].name %></a></li>
                        <% } %>
                    </ul>
                </div>
                <div>
                    <h1>fooD()</h1>
                    <ul>
                        <% for(let i = 0; i < food.length; i++) { %>
                            <li><a href="/food/<%=i%>"><%= food[i].name %></a></li>
                        <% } %>
                    </ul>
                </div>
            </main>
            <!-- ============ FOOTER ============ -->
<<<<<<< HEAD
            <footer>
                <%- include ('./partials/footer.ejs') %>
            </footer>
=======
            <%- include ('./partials/footer.ejs') %>

>>>>>>> 5a0fb543ed104858c33f87b3fc827c2151926501
        </div>
    </body>
</html>
