<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body>
        <div class="body-overlay">
            <!-- ============ HEADER ============ -->
<<<<<<< HEAD
            <header>
              <%- include ('./partials/header.ejs') %>
            </header>
=======
            <%- include ('./partials/header.ejs') %>

>>>>>>> 5a0fb543ed104858c33f87b3fc827c2151926501
            <!-- ============ MAIN ============ -->
            <main class="show-main">
                <form>
                    <h1>git add to the menu</h1>
                    <br />
                    <input type="text" placeholder="name" /><br />
                    <input type="text" placeholder="image" /><br />
                    <input type="text" placeholder="price" /><br />
                    <strong>what are you adding?</strong>
                    <input type="radio" /> Drink <input type="radio" /> Food <br />
                    <input type="submit" value="git commit" />
                </form>
            </main>
            <!-- ============ FOOTER ============ -->
<<<<<<< HEAD
            <footer>
                <%- include ('./partials/footer.ejs') %> 
            </footer>
=======
            <%- include ('./partials/footer.ejs') %>

>>>>>>> 5a0fb543ed104858c33f87b3fc827c2151926501
        </div>
    </body>
</html>
