<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body>
        <div class="body-overlay">
            <!-- ============ HEADER ============ -->
<<<<<<< HEAD
            <header>
                <%- include ('./partials/header.ejs') %>
            </header>
=======
            <%- include ('./partials/header.ejs') %>

>>>>>>> 5a0fb543ed104858c33f87b3fc827c2151926501
            <!-- ============ MAIN ============ -->
            <main class="show-main">
                <h1>fooBar()</h1>
                <h2><%= drink.name %></h2>
                <img src=<%= drink.image + ".png"%>>
                <h3>$<%= drink.price %></h3>
                <a href="/pub" class="back-btn">go back</a>
            </main>
            <!-- ============ FOOTER ============ -->
<<<<<<< HEAD
            <footer>
                <%- include ('./partials/footer.ejs') %>
            </footer>
=======
            <%- include ('./partials/footer.ejs') %>
>>>>>>> 5a0fb543ed104858c33f87b3fc827c2151926501
        </div>
    </body>
</html>
